@model ProductBasket.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Product";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            @if (Model.Id != 0)
            {
                //edit
                title = "Edit Product";
            }
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProdName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProdName" class="form-control"/>
                    <span asp-validation-for="ProdName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProdImageName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProdImageName" class="form-control" />
                    <!--<span asp-validation-for="ProdImageName" class="text-danger"></span>-->

                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProdPrice"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProdPrice" class="form-control" />
                    <span asp-validation-for="ProdPrice" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="@Model.Id"/>
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton"/>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
<partial name="_ValidationScriptsPartial"/>
}
